.DS_Store
*.csproj
*.userprefs
 /Library/FailedAssetImports.txt
 /Library/cache/
 /Library/previews/
 /Library/ScriptAssemblies
*.pdb
*.apk
Temp
*.pidb
*.swp
*~
*.meta
*.svd
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
.Trashes
